a,
a:hover {
  color: #6161ff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  color: #000;
  font-family: Tahoma, Arial, Verdana;
  margin: 0em;
  padding: 0em;
}

.company,
.dates,
.factoid,
.factoid_section_label,
.name,
.paragraph,
.project,
.qualification_bucket,
.qualifying_skills,
.subfactoid,
.tertiary_factoid,
.tagline,
.title {
  font-size: 0.75em;
}

.bold {
  font-weight: bold;
}

.contact_information,
.name {
  color: #fff;
  padding: 0.1em 0em;
}

.contact_information {
  font-size: 0.8em;
}

.extra_extra_large_spacer,
.extra_large_spacer,
.extra_small_spacer,
.large_spacer,
.medium_spacer,
.small_spacer,
.tiny_spacer {
  font-size: 0.1em;
}

.extra_extra_large_spacer {
  height: 4.25em;
}

.extra_large_spacer {
  height: 2.75em;
}

.extra_small_spacer {
  height: 0.25em;
}

.factoid {
  margin-left: 0em;
  margin-top: 0.4em;
}

ul {
  padding-left: 1em;
  margin: 0.4em 0 0 0;
}

.subfactoid {
  margin-left: 0em;
  margin-top: 0.4em;
  font-size: 0.75em;
}

.factoid > ul .subfactoid {
  font-size: inherit;
}

.factoid_section_label {
  margin-left: 0.25em;
  margin-top: 1em;
}

.header {
  background-color: #000;
  text-align: center;
}

.italic {
  font-style: italic;
}

.large_spacer {
  height: 1.5em;
}

.medium_spacer {
  height: 1em;
}

.name {
  font-size: 1em;
}

.normal {
  font-weight: normal;
}

.qualification_bucket {
  color: #666;
}

.small_spacer {
  height: 0.5em;
}

.subsection {
  margin: 0.75em 0.5em 0 0.5em;
}

.subsection_heading {
  font-size: 1em;
}

.tiny_spacer {
  height: 0.05em;
}

.underline {
  text-decoration: underline;
}
